* {
  text-align: center;
  font-family: Helvetica;
}

h1, .navigation, h4, .bottombanner {
  color: white;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
  background-image: url("images/the-flatiron-building.png");
}

.navigation {
  font-size: 18px;
}

h2 {
  font-size: 32px;
}

h3, h4 {
  font-size: 23px;
}

h4 {
  background-image: url("images/the-flatiron-building.png");
}

p {
  font-size: 14px;
}

.bottombanner {
  text-align: left;
  background-color: dimgray;
}

.banner {
  font-size: 11px;
}
